.footerStyle{
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  background: black;
  width: 100%;
  color: white;
  font-size:2vw;
  flex-direction: column;
  align-items: center;
  padding:5vw;
  margin-top:10vw;
  p{
    font-size:1.67vw;
  } 
}

.footerLogoStyle{
  width:9.1vw;
  padding:0;
  margin-bottom: 20px;
}

@media screen and (max-width:992px){
  .footerLogoStyle{
    width:15.1vw;
  }
}

@media screen and (max-width:768px){
  .footerStyle{
    p{    
      font-size:3.3vw;
    }
    padding:15vw;
    margin-top:30vw;
  }
  .footerLogoStyle{
    width: 32.55vw;
    height: 10.5vw;
  }
}